<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    
    {% endblock head %}
  </head>
  <body>
    

    <header class="header header-bar">
      <nav class="px-4 py-2 shadow navbar navbar-expand-lg bg-white d-flex justify-content-between z-3">
        <div><a href="/" class="site-logo">
          Drive
        </a></div>
        <div><ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class=" px-1 mx-2">Home</a></li>
          <li><a href="#" class=" px-1 mx-2">About</a></li>
          <li><a href="#" class=" px-1 mx-2">Privacy Policy</a></li>
          <li><a href="#" class=" px-1 mx-2">FAQs</a></li>
        </ul></div>
        <div class="d-flex gap-3 align-items-center">
          {% if session.loggedin == false %}
          <button type="button" class="cr-btn-primary-outline cr-btn-login" data-bs-toggle="modal" data-bs-target="#login-modal">Login</button>
          <button type="button" class="cr-btn-primary cr-btn-add" data-bs-toggle="modal" data-bs-target="#register-modal">Sign-up</button>
        {% else %}
          <a href="{% if session.user_type == 'staff' %}{{ 'staff/dashboard.php' }}{% else %} {{ 'user/dashboard.php'}}{% endif %}" class="cr-btn-primary cr-btn-dashboard">Dashboard</a>
          <a href="logout.php" class="cr-btn-primary-outline cr-btn-exit">Log Out</a>
        {% endif %}
        </div>
      </nav>
    </header>
    {% block content %}    {% endblock content %}
    <!--Login Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post">
           <div class="modal-body">
                {% if success_register is not empty %}
                <div class="bg-success text-white text-center py-1 rounded-1 mb-3">{{success_register}}</div>
                {% endif %}
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                  {% if login_err is not empty %}
                  <span class="small text-warning">{{login_err}}</span>
                  {% endif %}
                </div>
            </div>
        <div class="modal-footer">
        <button type="button" class="cr-btn-primary-outline cr-btn-close" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="cr-btn-secondary cr-btn-login" name="login">Login</button>
        </div>
    </form>
    </div>
    </div>
    </div>

    <!--Register Modal -->
    <div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="register-modal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form method="post">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="full-name" class="form-label">Full name</label>
                    <input type="text" class="form-control" id="full-name" aria-describedby="fullNameHelp" name="full-name" required>
                </div>
                <div class="mb-3">
                   <label for="r-email" class="form-label">Email address</label>
                   <input type="email" class="form-control" id="r-email" aria-describedby="emailHelp" name="r-email" required>
                   {% if r_email_err is not empty %}
                   <span class="small text-warning">{{r_email_err}}</span>
                   {% endif %}
                </div>
                <div class="mb-3">
                   <label for="r-password1" class="form-label">Password</label>
                   <input type="password" class="form-control" id="r-password1" name="r-password1" required>
                   {% if r_password1_err is not empty %}
                   <span class="small text-warning">{{r_password1_err}}</span>
                   {% endif %}
                </div>
                <div class="mb-3">
                    <label for="r-password2" class="form-label">Password</label>
                    <input type="password" class="form-control" id="r-password2" name="r-password2" required>
                    {% if r_password2_err is not empty %}
                    <span class="small text-warning">{{r_password2_err}}</span>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="passport" class="form-label">Passport</label>
                    <input type="text" class="form-control" id="passport" aria-describedby="passportHelp" name="passport">
                </div>
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact number</label>
                    <input type="text" class="form-control" id="contact" aria-describedby="passportHelp" name="contact">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="cr-btn-primary-outline cr-btn-close" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="cr-btn-secondary cr-btn-add" name="register">Register</button>
            </div>
        </form>
    </div>
    </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    
    {% if (login_err is not empty or success_register is not empty) %}
    <script>
        $(document).ready(function(){
          $("#login-modal").modal("show");
        });
    </script>
    {% endif %}
    {% if (register_err is not empty ) %}
    <script>
        $(document).ready(function(){
          $("#register-modal").modal("show");
        });
    </script>
    {% endif %}
    {% block script %}
    {% endblock %}
  </body>
</html>