
{% extends "base.html" %}


{% block title %}Index{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}    
{% block content %}
<div class="wrapper p-5 flex-fill main-wrapper">
    <div class="d-flex justify-content-between align-items-center">
    <h2>Car List</h2>
    <a class="cr-btn-primary cr-btn-add text-white" href="car-create.php">Add new</a>
    </div>
    <table class="table table-striped data-table" id="car-list">
        <thead>
          <tr>
            <th scope="col"  class="text-white">#</th>
            <th scope="col"  class="text-white">Image</th>
            <th scope="col"  class="text-white">Plate Number</th>
            <th scope="col"  class="text-white">Model</th>
            <th scope="col"  class="text-white">Brand</th>
            <th scope="col"  class="text-white">Color</th>
            <th scope="col"  class="text-white">Status</th>
            <th scope="col"  class="text-white">Rental Price</th>
            <th scope="col"  class="text-white">Rental Date</th>
            <th scope="col"  class="text-white">Purchase Price</th>
            <th scope="col"  class="text-white">Action</th>
          </tr>
        </thead>
        <tbody>
            {% set i = 1 %}
            {% for item in queryResult %}
          <tr>
            <th scope="row">{{i}}</th>
            
            <td class="align-middle"><div class="rounded-2" style="width:150px; height:70px; background-image:url('cars-photo/{{item.image}}'); background-size:cover; background-position:center"></div></td>
            <td class="align-middle">{{item.plate_number}}</td>
            <td class="align-middle">{{item.model}}</td>
            <td class="align-middle">{{item.brand}}</td>
            <td class="align-middle">{{item.color}}</td>
            <td class="align-middle">{{item.Status}}</td>
            <td class="align-middle">{{item.rental_price|number_format(2, '.', ',') }}</td>
            <td class="align-middle">{{item.purchase_date}}</td>
            <td class="align-middle">{{item.purchase_price|number_format(2, '.', ',') }}</td>
            <td class="align-middle">
                <a href="car-view.php?id={{item.car_id}}"><i class="bi bi-eye text-success me-2"></i></a>
                <a href="car-update.php?id={{item.car_id}}"><i class="bi bi-pencil-square text-warning me-2"></i></a>
                <a type="button" 
                    class="border-0 row-delete" 
                    data-bs-toggle="modal" 
                    data-bs-target="#confirmation-modal"
                    data-id="{{item.car_id}}"
                    data-plate_number="{{item.plate_number}}"
                    data-model="{{item.model}}"
                    data-brand="{{item.brand}}"
                    data-image="{{item.image}}">
                    <i class="bi bi-x-square text-danger"></i></a>
            </td>
          </tr>
          {% set i = i + 1 %}
          {% endfor %}
        </tbody>
      </table>
</div>
<!--Confirmation Modal -->
<div class="modal fade" id="confirmation-modal" tabindex="-1" aria-labelledby="confirmation-modal" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
         <div class="modal-body">
              <div>You are trying to delete a following record</div>
              <div id="row-data"></div>
          </div>
      <div class="modal-footer">
      <input type="hidden" name="car-id" id="txt-confirm">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-danger" name="delete">Delete</button>
      </div>
      
  </form>
  </div>
  </div>
  </div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
      $( ".row-delete" ).each(function( index ) {
          $(this).on("click",function(){
              $("#row-data").html(
                  `<ul>
                      <li>Plate number: ${$(this).data("plate_number")}</li>
                      <li>Model: ${$(this).data("model")}</li>
                      <li>Brand: ${$(this).data("brand")}</li>
                  </ul>
                  <div class="rounded-2" style="width:100%; height:150px; background-image:url('cars-photo/${$(this).data("image")}'); background-size:cover; background-position:center" ></div>`
              );
              $("#txt-confirm").val($(this).data("id"));
              console.log($(this).data("id"));
          })
      });
  });

  
    $('#car-list').DataTable( {
    } );
</script>
{% endblock %}