
{% extends "base.html" %}


{% block title %}Index{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}    
{% block content %}
<div class="wrapper p-5 flex-fill">
    <h2>Create Maintenance Record</h2>
    {% if success_message is not empty %}
    <div class="bg-success text-white rounded-1 my-2 p-1">{{success_message}}</div>
    {% endif %}
    <form method="post" enctype = "multipart/form-data">
        <div class="mb-3">
            <label for="car" class="form-label">Car</label>
            <select class="form-select" required name="car-id" id="select-car">
                <option>Select car</option>
                {% for item in car_list %}
                <option value="{{item.car_id}}" {% if item.car_id == car_id %} selected {% endif %}>{{item.brand}} - {{item.model}} [{{item.plate_number}}]</option>
                {% endfor %}
            </select>
            {% if car_err is not empty %}
           <span class="small text-warning">{{car_err}}</span>
           {% endif %}
        </div>
        <div class="mb-3">
            <label for="car" class="form-label">User</label>
            <select class="form-select" required name="user-id">
                <option>Select user</option>
                {% for item in user_list %}
                <option value="{{item.user_id}}" {% if item.user_id == user_id %} selected {% endif %}>{{item.name}} - {{item.email}}</option>
                {% endfor %}
            </select>
            {% if user_err is not empty %}
           <span class="small text-warning">{{user_err}}</span>
           {% endif %}
        </div>
        <div class="mb-3">
            <label for="rental-start-date" class="col-form-label">Rental start date</label>
            <div class="input-group date" id="start-datepicker">
                <input type="text" class="form-control" id="rental-start-date" name="rental-start-date" value="{{rental_start_date}}" required/>
                <span class="input-group-append"><span class="input-group-text bg-light d-block"><i class="bi bi-calendar-date"></i></span></span>
            </div>
                <span class="small text-warning" id="rental-start-date-err"></span>
            </div>
        <div class="mb-3">
            <label for="rental-end-date" class="col-form-label">Rental end date</label>
            <div class="input-group date" id="end-datepicker">
                <input type="text" class="form-control" id="rental-end-date" name="rental-end-date" value="{{rental_end_date}}" required/>
                <span class="input-group-append"><span class="input-group-text bg-light d-block"><i class="bi bi-calendar-date"></i></span></span>
            </div>
            <span class="small text-warning" id="rental-end-date-err"></span>
        </div>
        <div class="mb-3">
            <label for="total-day" class="form-label">Total Day(s)</label>
            <div class="rounded-1 " style="border:1px #ddd solid; background-color:#eee; padding:5px 15px" id="total-day">0</div>
            
        </div>
        <div class="mb-3">
            <label for="pricing" class="form-label">Daily Price</label>
            <div class="rounded-1 " style="border:1px #ddd solid; background-color:#eee; padding:5px 15px" id="display-daily-price">0</div>
            <input type="hidden" class="form-control" id="daily-price" name="daily-price" value="" required>
        </div>
        <div class="mb-3">
            <label for="total-amount" class="form-label">Total Amount</label>
            <div class="rounded-1 " style="border:1px #ddd solid; background-color:#eee; padding:5px 15px" id="display-total-amount">0</div>
            <input type="hidden" class="form-control" id="total-amount" name="total-amount" value="{{total-amount}}" required>
        </div>

        <button type="submit" class="btn btn-info text-white" name="create-rental">Create</button>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        // Date Picker
        $('#start-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
        $('#end-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });

        $("#rental-start-date").prop('disabled',true);
        $("#rental-end-date").prop('disabled',true);
        $("#rental-start-date").attr('placeholder',"Select the car first.");
        $("#rental-end-date").attr('placeholder',"Select the car first.");

        // Ajax
        $("#rental-start-date").change(function(){
            if(! $("#rental-end-date").val()==''){
                var startDate = $("#rental-start-date").val();
                var endDate = $("#rental-end-date").val();
                $("#total-day").html(calcDays(startDate,endDate));
                calcAmount();
            };

            jsonOBJ = {
                'car_id' : $("#select-car").val(),
                'rental_start_date': $(this).val(),
            }
            $.ajax({
                url: 'ajax-check-date.php',
                type: 'POST',
                data: {rentalstartdate: jsonOBJ},
                dataType:'json',
                success: function(response){
                    if(response['valid']==false){
                        $("#rental-start-date-err").html(response['err_msg']);
                        $("#rental-start-date").val('');
                    }
                    else{
                        $("#rental-start-date-err").html(response['err_msg']);
                    }
                },
                error: function(response){
                    console.log(response);
                }
            }) 
        }); //start date check 

        $("#rental-end-date").change(function(){
            if(! $("#rental-start-date").val()==''){
                var startDate = $("#rental-start-date").val();
                var endDate = $("#rental-end-date").val();
                $("#total-day").html(calcDays(startDate,endDate));
                calcAmount();
            }
            jsonOBJ = {
                'car_id' : $("#select-car").val(),
                "rental_end_date": $(this).val(),
            }
            $.ajax({
                url: 'ajax-check-date.php',
                type: 'POST',
                data: {rentalenddate: jsonOBJ},
                dataType:'json',
                success: function(response){
                    if(response['valid']==false){
                        $("#rental-end-date-err").html(response['err_msg']);
                        $("#rental-end-date").val('');
                    }
                    else {
                        $("#rental-end-date-err").html(response['err_msg']);
                    }
                },
                error: function(response){
                    console.log(response);
                }
            })
        });

        $("#select-car").change(function(){
            if($(this).val()>0){
                $("#rental-start-date").prop('disabled',false);
                $("#rental-end-date").prop('disabled',false); 
                $("#rental-start-date").attr('placeholder',"");
                $("#rental-end-date").attr('placeholder',"");

            }
            else {
                $("#rental-start-date").prop('disabled',true);
                $("#rental-end-date").prop('disabled',true);
                $("#rental-start-date").attr('placeholder',"Select the car first.");
                $("#rental-end-date").attr('placeholder',"Select the car first.");
            }
            jsonOBJ = {
                'car_id': $(this).val(),
            }
            $.ajax({
                url:'ajax-check-car.php',
                type:'POST',
                data:{cardetail: jsonOBJ},
                dataType: "json",
                success: function(response){
                    $("#daily-price").attr("value",parseFloat(response[0]['rental_price']));
                    $("#display-daily-price").html(parseFloat(response[0]['rental_price']));
                    calcAmount();
                },
                error: function (response){
                    console.log(response);
                }
            });
        })
        
        function calcDays(startDate,endDate){
            var date1=new Date(startDate)
            var date2=new Date(endDate)
            var milli_secs = date2.getTime() - date1.getTime();
            var days = milli_secs / (1000 * 3600 *24);
            return days+1;
        }

        function calcAmount(){
            
            if((! $("#daily-price").val()=='')&(! $("#total-day").html()=='')){
                var totalAmount = $("#daily-price").val() * $("#total-day").html();
                $("#total-amount").attr("value",totalAmount.toFixed(2));
                $("#display-total-amount").html(totalAmount.toFixed(2));
                // console.log(totalAmount);
                // return totalAmount;
            }
        }

    });
</script>
  {% endblock %}