
{% extends "base.html" %}


{% block title %}Index{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}    
{% block content %}
<div class="wrapper p-5 flex-fill main-wrapper">
    <h2>Create Road Tax Record</h2>
    {% if success_message is not empty %}
    <div class="bg-success text-white rounded-1 my-2 p-1">{{success_message}}</div>
    {% endif %}
    <form method="post" enctype = "multipart/form-data">
        <div class="mb-3">
            <label for="car" class="form-label">Car</label>
            <select class="form-select" required name="car-id">
                <option>Select car</option>
                {% for item in car_list %}
                <option value="{{item.car_id}}" {% if item.car_id == car_id %} selected {% endif %}>{{item.brand}} - {{item.model}} [{{item.plate_number}}]</option>
                {% endfor %}
            </select>
            {% if car_list_err is not empty %}
           <span class="small text-warning">{{car_list_err}}</span>
           {% endif %}
        </div>
        <div class="mb-3">
            <label for="cost" class="form-label">Tax amount</label>
            <input type="number" min="0" step="0.01" title="Currency" pattern="^\d+(?:\.\d{1,2})?$"  class="form-control" id="tax-amount" name="tax-amount" value="{{tax-amount}}" required>
        </div>
        <div class="mb-3">
            <label for="payment-date" class="col-1 col-form-label">Payment date</label>
            <div class="input-group date" id="payment-date-datepicker">
                <input type="text" class="form-control" id="payment-date" name="payment-date" value="{{payment_date}}"/>
                <span class="input-group-append"><span class="input-group-text bg-light d-block"><i class="bi bi-calendar-date"></i></span></span>
            </div>
            {% if payment_date_err is not empty %}
                <span class="small text-warning">{{payment_date_err}}</span>
            {% endif %}
        </div>
        

        <button type="submit" class="cr-btn-create cr-btn-primary" name="road-tax-create">Create</button>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        
        $('#payment-date-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
  {% endblock %}