
{% extends "base.html" %}


{% block title %}Index{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}    
{% block content %}
<div class="wrapper p-5 flex-fill main-wrapper">
    
    {% for item in user_detail %}
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <h2>#{{item.user_id}}: {{item.name}}</h2><div class=" text-white py-2 bg-c-pink px-3 rounded-1 ms-3">{{item.email}}</div>
        </div>
        <div>
            <a href="user-list.php" class="cr-btn-primary-outline cr-btn-back">Go back</a>
            <a href="user-update.php?id={{item.car_id}}" class="cr-btn-primary cr-btn-edit">Edit</a>
        </div>
    </div>
    
    <div class="row mt-3">
    
        <div class="col col-3">
            <div style="width:300px; height:300px; background-image:url('../user/photos/{{item.photo}}'); background-size:cover; background-position:center" class="rounded-3 shadow-sm">

            </div>
            
        </div><!--col-->
        <div class="col col-9">
            <p><strong>User ID:</strong> {{item.user_id}}</p>
            <p><strong>Name:</strong> {{item.name}}</p>
            <p><strong>Email:</strong> {{item.email}}</p>
            <p><strong>User Type:</strong> {{item.user_type|capitalize}}</p>
            <p><strong>Passport:</strong> {{item.passport_number}}</p>
            <p><strong>Contact Number:</strong> {{item.contact_number}}</p>
            {% endfor %}
        </div><!--col-->
        
    </div><!--row-->
    {% if rental_detail is not empty %}
    <div class="row mt-5">
        <h3>Rent Detail</h3>
        <div class="col col-12">
            <table class="table data-table">
                <thead>
                    <tr>
                      <th scope="col"  class="bg-info text-white">Image</th>
                      <th scope="col"  class="bg-info text-white">Plate Number</th>
                      <th scope="col"  class="bg-info text-white">Brand</th>
                      <th scope="col"  class="bg-info text-white">Model</th>
                      <th scope="col"  class="bg-info text-white">Rental Start Date</th>
                      <th scope="col"  class="bg-info text-white">Rental End Date</th>
                      <th scope="col"  class="bg-info text-white">Total Days</th>
                      <th scope="col"  class="bg-info text-white">Daily rate</th>
                      <th scope="col"  class="bg-info text-white">Amount</th>
                      <th scope="col"  class="bg-info text-white">Request Date</th>
                      <th scope="col"  class="bg-info text-white">Request Status</th>
                      <th scope="col"  class="bg-info text-white">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in rental_detail %}
                    <tr>
                    <td class="align-middle"><div class="rounded-2" style="width:150px; height:70px; background-image:url('cars-photo/{{item.image}}'); background-size:cover; background-position:center"></div></td>
                    <td class="align-middle">{{item.plate_number}}</td>
                    <td class="align-middle">{{item.brand}}</td>
                    <td class="align-middle">{{item.model}}</td>
                    <td class="align-middle">{{item.rental_start_date}}</td>
                    <td class="align-middle">{{item.rental_end_date}}</td>
                    <td class="align-middle">{{item.total_days}}</td>
                    <td class="align-middle">{{item.daily_price|number_format(2, '.', ',')}}</td>
                    <td class="align-middle">{{item.total_amount|number_format(2, '.', ',')}}</td>
                    <td class="align-middle">{{item.request_date}}</td>
                    <td class="align-middle">{{item.rental_stauts}}</td>
                    <td class="align-middle"><a href="rental-view.php?id={{item.rental_id}}"><i class="bi bi-eye text-success me-2"></i></a>
                        <a href="rental-edit.php?id={{item.rental_id}}"><i class="bi bi-pencil-square text-warning me-2"></i></a>
                        <a href="rental-delete.php?id={{item.rental_id}}"><i class="bi bi-x-square text-danger"></i></a></td>
                    </tr>
                    {% endfor %}

                  </tbody>
            </table>
        </div><!--col-->
    </div><!--row-->
    {% endif %}
    
</div><!--wrapper-->

{% endblock %}

{% block script %}

  {% endblock %}